/* Buttons */
.cta{
    display: inline-flex;
    align-items: center;
    padding: 20px 0;
    font-family: $lato-bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $primary;
    &:hover{
        .ellypsis{
            animation-name: drawSVG;
            animation-duration: 0.2s;
            animation-timing-function: ease-out;
            animation-direction: normal;
            animation-iteration-count: 1;
            animation-play-state: running;
            animation-fill-mode: both;
            &.top{
                animation-delay: 0s;
            }
            &.bottom{
                animation-delay: 0.18s;
            }
        }
    }
    > span{
        position: relative;
        min-width: 125px;
        text-align: center;
    }
    .ellypsis{
        position: absolute;
        width: 52px;
        height: 12px;
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
        transform: scaleX(-1);

        animation-name: drawSVGBack;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-fill-mode: both;
        &.top{
            animation-delay: 0.18s;
        }
        &.bottom{
            animation-delay: 0s;
        }
        &.top{
            bottom: calc(100% + 5px);
            right: calc(50% + 10px);
        }
        &.bottom{
            top: calc(100% + 5px);
            left: calc(50% + 10px);
        }
    }
    .icon{
        width: 16px;
        height: 7px;
        margin-left: 10px;
    }
}

@keyframes drawSVG {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 100;
    }
}
@keyframes drawSVGBack {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
