/* Buttons */
.cta {
    display: inline-flex;
    align-items: center;
    padding: 20px 0;
    font-family: $lato;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $primary;
    text-decoration: none;
    &:hover {
        .ellypsis {
            animation-name: drawSVG;
            animation-duration: 0.2s;
            animation-timing-function: ease-out;
            animation-direction: normal;
            animation-iteration-count: 1;
            animation-play-state: running;
            animation-fill-mode: both;
            &.top {
                animation-delay: 0s;
            }
            &.bottom {
                animation-delay: 0.18s;
            }
        }
    }
    &.white {
        color: $white;
        .ellypsis {
            color: $white;
        }
    }
    &.cta-light {
        .icon-arrow {
            transform: translateX(0);
            transition: transform $transition-duration $ease-out;
        }
        &:hover {
            opacity: 0.85;
            .icon-arrow {
                transform: translateX(100%);
                transition: transform $transition-duration-reveal
                    $ease-out-bounce;
            }
        }
        > span {
            min-width: auto;
        }
    }
    &.cta-light-ff {
        &:after {
            content: "\e900";
            margin: 0 0 0 9px;
            display: inline-block;
            font-size: 0.55em;
            font-family: $icofont;
            transform: translateX(0);
            transition: transform $transition-duration $ease-out;
        }
        &:hover {
            opacity: 0.85;
            &:after {
                transform: translateX(100%);
                transition: transform $transition-duration-reveal
                    $ease-out-bounce;
            }
        }
        > span {
            min-width: auto;
        }
    }
    > span {
        position: relative;
        min-width: 125px;
        text-align: center;
    }
    .ellypsis {
        position: absolute;
        width: 52px;
        height: 12px;
        color: $ellypsis-color;
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
        transform: scaleX(-1);

        animation-name: drawSVGBack;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-fill-mode: both;
        &.top {
            animation-delay: 0.18s;
        }
        &.bottom {
            animation-delay: 0s;
        }
        &.top {
            bottom: calc(100% + 5px);
            right: calc(50% + 10px);
        }
        &.bottom {
            top: calc(100% + 5px);
            left: calc(50% + 10px);
        }
    }
    .icon {
        width: 16px;
        height: 7px;
        margin-left: 10px;
    }
}

@keyframes drawSVG {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 100;
    }
}
@keyframes drawSVGBack {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
