.module-contact {
    &.pb:not(:last-child) {
        padding-bottom: 6rem;
    }
    > div {
        // overflow-y: auto;
    }
    img {
        &.alignleft {
            margin-left: 0;
        }
        &.alignright {
            margin-right: 0;
        }
        &.full-width {
            width: 100%;
            margin-left: 0;
        }
    }
    .cta {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1em;
    }
}
