.module-columns {
    .introduction {
        padding: 0 #{$quadrogutter * 1.5};
        margin: 0 auto;
        max-width: 100%;
        &.solo-col {
            max-width: calc(50% - #{$doublegutter});
        }
    }
    .container-columns {
        padding: 0 $quadrogutter;
    }
    .columns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        width: calc(100% + #{$quadrogutter * 2});
        margin: 0 0 0 -#{$quadrogutter};
        padding: 0 #{$doublegutter} 0;
        img {
            display: block;
            &.alignleft {
                left: 0;
                margin-right: auto;
                float: none;
            }
            &.aligncenter {
                left: 0;
                right: 0;
                margin: auto;
            }
            &.alignright {
                right: 0;
                margin-left: auto;
                float: none;
            }
        }
    }
    .column {
        flex: 1 1 auto;
        padding: 0 #{$quadrogutter * 2} 0;
        margin-bottom: $quadrogutter;
        box-sizing: border-box;
    }
    .solo-col {
        .column {
            max-width: 50%;
            align-self: center;
            &:nth-child(2) {
                display: none;
            }
        }
    }
    .half-col {
        .column {
            width: 50%;
            min-width: calc((#{$desktop-small} - #{$quadrogutter}) / 3);
        }
    }
    .third-col {
        .column {
            width: 33%;
            min-width: calc((#{$desktop} - #{$quadrogutter}) / 4);
        }
    }
    .fourth-col {
        padding: 0 #{$doublegutter * 3} 0;
        .column {
            width: 25%;
            padding: 0 #{$quadrogutter} 0;
            min-width: calc((#{$desktop} - #{$quadrogutter}) / 6);
        }
    }
}

@media (max-width: $desktop-big) {
    .module-columns {
        .fourth-col {
            .column {
                width: 33%;
                max-width: 33%;
                min-width: calc((#{$desktop-small} - #{$quadrogutter}) / 4);
            }
        }
    }
}

@media (max-width: $desktop) {
    .module-columns {
        .third-col {
            .column {
                width: 50%;
                max-width: 50%;
                min-width: calc((#{$tablet} - #{$quadrogutter}) / 2);
            }
        }
    }
}

@media (max-width: $desktop-small) {
    .module-columns {
        .introduction {
            &.solo-col {
                max-width: 100%;
            }
        }
        .solo-col,
        .half-col {
            .column {
                width: 100%;
                max-width: 100%;
                min-width: 100%;
            }
        }
        .third-col {
            .column {
                min-width: calc((#{$tablet} - #{$quadrogutter}) / 4);
            }
        }
        .fourth-col {
            .column {
                width: 50%;
                max-width: 50%;
                min-width: calc((#{$tablet} - #{$quadrogutter}) / 3);
            }
        }
    }
}

@media (max-width: $tablet) {
    .module-columns {
        .introduction {
            padding: 0;
        }
        .columns {
            padding: 0 $quadrogutter 0;
        }
        .solo-col,
        .half-col,
        .third-col,
        .fourth-col {
            .column {
                min-width: 100%;
                padding: 0;
            }
        }
    }
}

@media (max-width: $phone) {
    .module-columns {
        .container-columns {
            padding: 0 $doublegutter;
        }
        .solo-col,
        .half-col,
        .third-col,
        .fourth-col {
            .column {
                width: 100%;
                min-width: 100%;
                margin: 0;
                padding: 0;
                min-width: 100%;
            }
        }
    }
}
