.module-columns {
    &:last-of-type {
        @extend .pb;
    }
    &.pb:not(:last-child) {
        padding-bottom: 6rem;
    }
    .introduction {
        margin: 0 auto;
        padding: 0 $doublegutter;
        max-width: 100%;
    }
    .container-columns {
        width: calc(100% + #{2 * $doublegutter});
        margin-left: -$doublegutter;
    }
    .columns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        img {
            display: block;
            &.alignleft {
                left: 0;
                margin-right: auto;
                float: none;
            }
            &.aligncenter {
                left: 0;
                right: 0;
                margin: auto;
            }
            &.alignright {
                right: 0;
                margin-left: auto;
                float: none;
            }
        }
    }
    .column {
        flex: 0 0 auto;
        padding: 0 $doublegutter;
        margin-bottom: $quadrogutter;
        box-sizing: border-box;
        .column-content {
            blockquote {
                padding: 0;
            }
        }
    }
    .solo-col {
        .column {
            flex-basis: 50%;
            align-self: center;
            &:nth-child(2) {
                display: none;
            }
        }
    }
    .half-col {
        .column {
            flex-basis: 50%;
        }
    }
    .third-col {
        .column {
            flex-basis: 33.3333%;
        }
    }
    .fourth-col {
        .column {
            flex-basis: 25%;
        }
    }
}

@media (max-width: $desktop-big) {
    .module-columns {
        .fourth-col {
            .column {
                flex-basis: 50%;
            }
        }
    }
}

@media (max-width: $desktop-small) {
    .module-columns {
        .introduction {
            &.solo-col {
                flex-basis: 100%;
            }
        }
        .solo-col,
        .half-col {
            .column {
                flex-basis: 100%;
            }
        }
        .third-col {
            .column {
                flex-basis: 50%;
            }
        }
        .fourth-col {
            .column {
                flex-basis: 50%;
            }
        }
    }
}

@media (max-width: $tablet) {
    .module-columns {
        .solo-col,
        .half-col,
        .third-col,
        .fourth-col {
            .column {
                flex-basis: 100%;
            }
        }
    }
}

@media (max-width: $phone) {
    blockquote {
        margin: 1.5rem;
        p {
            font-size: 3rem;
        }
    }
}

@media (max-width: $phone-small) {
    blockquote {
        margin: 1rem;
    }
}
