.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity $transition-duration 0.8s;
    z-index: 1;
    pointer-events: none;
    &.active {
        opacity: 1;
        transition: opacity $transition-duration;
        z-index: 2;
        pointer-events: auto;
        .img-side {
            opacity: 1;
            transition: opacity $transition-duration ease-in-out 0.5s;
        }
    }
    &.was-active {
        .img-side {
            opacity: 0;
            transition: opacity $transition-duration ease-in-out 0.8s;
        }
    }
    .img-side {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        opacity: 0;
        transition: opacity $transition-duration ease-in-out 0.8s;
        z-index: 1;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .txt-side {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $white;
        transform-origin: 100% 0;
        overflow: hidden;
        blockquote {
            margin: 0;
            width: 100%;
            max-width: 100%;
            color: $white;
            > p {
                width: 100%;
                > span {
                    display: block;
                    width: 100%;
                }
            }
            cite {
                width: 100%;
                color: $white;
            }
        }
        .slide-layer-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $primary;
            z-index: -1;
        }
        &.color-black {
            color: $black;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 0;
            margin-bottom: 1.33em;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a,
        ol,
        ul {
            color: inherit;
        }
        p {
            color: $slider-text-color;
            margin-bottom: 1.33em;
        }
        .wrapper-cta {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .cta {
            display: block;
        }
    }
    .inner-right-side {
        position: relative;
        display: flex;
        height: 340px;
        align-items: center;
        z-index: 1;
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .round-overlay {
        position: absolute;
        top: calc(50% - 170px);
        left: calc(50% - 170px);
        width: 340px;
        height: 340px;
        border-radius: 50%;
        background-color: $black;
        mix-blend-mode: multiply;
        opacity: 0.6;
        .no-mix-blend-mode-support & {
            opacity: 0.5;
        }
    }
    .inner-txt-side {
        width: 60%;
        height: 100%;
        &.pb {
            padding-top: 10rem;
        }
        &.pt {
            padding-bottom: 10rem;
        }
    }
    .slide-logo {
        margin: 0 0 6rem;
        max-width: 66.66%;
    }
    .slide-title {
        font-size: 1.3rem;
        font-family: $lato;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $white;
    }
    .slide-subtitle {
        font-family: $lato;
        font-weight: 300;
        font-style: italic;
        color: $white;
    }
}

.slides {
    position: relative;
    min-height: 525px;
}

main {
    > div:not(.has-sidebar) {
        .slider {
            .container,
            .container-small {
                padding: 0;
                margin: 0;
                max-width: none;
            }
        }
    }
}

.slider {
    position: relative;
    background-color: $primary;
    &.mod-layout-reversed {
        .bullets {
            right: 0;
        }
    }
    .bullets {
        .no-js & {
            display: none;
        }
        display: flex;
        justify-content: center;
        position: absolute;
        width: 50%;
        bottom: 35px;
        z-index: 3;
    }
    .bullet {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: $white;
        opacity: 0.3;
        cursor: pointer;
        &.active {
            opacity: 1;
        }
    }
}

.has-sidebar {
    .slider {
        .bullets {
            .no-js & {
                display: none;
            }
            width: calc(
                (
                        100% - #{grid-column-percent((1280 - 40), 20, 3, 12) +
                            "%"} + #{20 / (1280 - 40) * 100}#{"%"}
                    ) * 0.5
            );
        }
    }
}

@media (max-width: $desktop-big) {
    .has-sidebar {
        .slider {
            .bullets {
                // width: calc(
                //     50% - #{grid-column-percent((1280 - 40), 20, 2, 12) + "%"} +
                //         #{20 / (1280 - 40) * 100}#{"%"}
                // );
                width: calc(
                    50% - #{grid-column-percent((1280 - 40), 20, 2, 12) + "%"} +
                        #{30 / (1280 - 40) * 100}#{"%"}
                );
            }
        }
    }
    .slide .inner-txt-side {
        width: 70%;
    }
}

@media (max-width: $desktop-small) {
    .slide {
        &:not(.reversed) {
            .txt-side {
                padding-left: 0;
            }
        }
        .round-overlay {
            height: 280px;
            width: 280px;
            top: calc(50% - 140px);
            left: calc(50% - 140px);
        }
    }
    .slider {
        &.mod-mobile-reversed {
            .reversed {
                > div {
                    &:first-child {
                        order: 1;
                    }
                    &:last-child {
                        order: 2;
                    }
                }
            }
        }
    }
    .has-sidebar {
        .slider {
            &.mod-mobile-reversed {
                .slide {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
            .bullets {
                width: calc(
                    100% - #{grid-column-percent((1280 - 40), 20, 3, 12) + "%"}
                );
            }
            &:not(.mod-mobile-reversed) {
                .bullets {
                    width: calc(
                        100% - #{grid-column-percent((1280 - 40), 20, 3, 12) +
                            "%"}
                    );
                    top: calc(55% - 35px);
                    bottom: auto;
                    transform: translateY(-50%);
                }
            }
        }
        .slides {
            height: 800px;
        }
        .slide {
            display: block;
            height: 800px;
            .img-side {
                width: 100%;
                height: 45%;
            }
            .txt-side {
                width: 100%;
                height: 55%;
                .inner-txt-side {
                    padding-top: 6rem;
                    padding-bottom: 6rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    .in-slide {
                        width: 100%;
                    }
                }
            }
            .inner-txt-side {
                position: relative;
                p {
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    .has-sidebar {
        .slider {
            .bullets {
                width: calc(
                    100% - #{grid-column-percent((1280 - 40), 20, 4, 12) + "%"} +
                        #{20 / (1280 - 40) * 100}#{"%"}
                );
            }
            &:not(.mod-mobile-reversed) {
                .bullets {
                    width: calc(
                        100% - #{grid-column-percent((1280 - 40), 20, 4, 12) +
                            "%"} + #{20 / (1280 - 40) * 100}#{"%"}
                    );
                }
            }
        }
    }
    .slider {
        &.mod-mobile-reversed {
            .slide {
                display: flex;
                flex-direction: column-reverse;
            }
        }
        .bullets {
            width: 100%;
        }
        &:not(.mod-mobile-reversed) {
            .bullets {
                width: 100%;
                top: calc(55% - 35px);
                bottom: auto;
                transform: translateY(-50%);
            }
        }
    }
    .slides {
        height: 800px;
    }
    .slide {
        display: block;
        height: 800px;
        .img-side {
            width: 100%;
            height: 45%;
        }
        .txt-side {
            width: 100%;
            height: 55%;
            .inner-txt-side {
                padding-top: 6rem;
                padding-bottom: 6rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .inner-txt-side {
            p {
                width: 100%;
            }
        }
    }
}

@media (max-width: $phone) {
    .slides {
        height: 700px;
    }
    .slide {
        height: 700px;
        .img-side {
            height: 42.5%;
        }
        .txt-side {
            height: 57.5%;
        }
        .inner-txt-side {
            width: 100%;
            padding-left: $quadrogutter;
            padding-right: $quadrogutter;
        }
    }
    .slider {
        .bullets {
            width: 100%;
        }
        &:not(.mod-mobile-reversed) {
            .bullets {
                top: calc(57.5% - 35px);
            }
        }
    }
    .has-sidebar {
        .slider {
            .bullets {
                width: 100%;
            }
            &:not(.mod-mobile-reversed) {
                .bullets {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: $phone-small) {
    .slides {
        height: 650px;
    }
    .slide {
        height: 650px;
        .img-side {
            height: 35%;
        }
        .txt-side {
            height: 65%;
        }
        .inner-txt-side {
            width: 100%;
            padding-left: $doublegutter;
            padding-right: $doublegutter;
        }
    }
    .slider {
        &:not(.mod-mobile-reversed) {
            .bullets {
                top: calc(65% - 35px);
            }
        }
    }
}
