.module-text {
    > div {
        overflow-y: auto;
    }
    img {
        &.alignleft {
            margin-left: 0;
        }
        &.alignright {
            margin-right: 0;
        }
        &.full-width {
            width: 100%;
            margin-left: 0;
        }
    }
    .multiple-btn {
        display: flex;
        justify-content: center;
        a {
            margin-right: $doublegutter;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
