.module-text {
    &.pb:not(:last-child) {
        padding-bottom: 6rem;
    }
    > div {
        overflow-y: auto;
    }
    img {
        &.alignleft {
            margin-left: 0;
        }
        &.alignright {
            margin-right: 0;
        }
        &.full-width {
            width: 100%;
            margin-left: 0;
        }
    }
    .multiple-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        a {
            margin-bottom: 0.5em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
