/******* GÉNÉRAL *******/

::-moz-selection {
    background: $black;
    color: $white;
    text-shadow: none;
}
::selection {
    background: $black;
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%; /* sets the base font to 10px for easier math */
}

body {
    font: 1.6em / 1.2 $lato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    min-height: calc(55vh + 100px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1,
.h1 {
    font-family: $lato-bold;
    font-size: 4.6rem;
    margin: 0.67em 0;
    color: $primary;
}

h2,
h3,
h4 {
    font-family: $lato-light;
    color: $primary;
}

h2,
.h2 {
    font-size: 3.9rem;
    margin: 0.83em 0;
}

h3,
.h3 {
    font-size: 3.2rem;
    margin: 1em 0;
}

h4,
.h4 {
    font-size: 2.3rem;
    margin: 1.33em 0;
}

h5,
.h5 {
    font-family: $lato-bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 2.67em 0;
    color: $text-color;
}

h6,
.h6 {
    font-size: 1.8rem;
    margin: 2.33em 0;
}

p {
    margin: 1em 0;
    line-height: 1.5;
    color: $text-color;
    a {
        &:focus,
        &:hover {
            opacity: 0.9;
        }
    }
}

b,
strong {
    font-family: $lato-bold;
    font-weight: normal;
}

i,
em {
}

blockquote {
    margin: 3em 0;
    padding: 0 12.5%;
    p {
        margin: 0;
        font-family: $lato-light-italic;
        font-size: 4.8rem;
        line-height: 1;
        color: $tertiary;
    }
    cite {
        display: flex;
        align-items: baseline;
        margin: 1.3em 0 0;
        font-family: $lato;
        font-size: 1.6rem;
        color: $secondary;
        &:before {
            content: '';
            display: block;
            position: relative;
            top: -0.3em;
            width: 22px;
            height: 1px;
            margin-right: 5px;
            background: $black;
        }
    }
}

ol,
ul {
    padding: 0;
    margin: 1em 0;
    color: $text-color;
    list-style-type: none;
}
ul {
    ul {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ol {
    counter-reset: ol-counter;
    > li {
        counter-increment: ol-counter;
        &:before {
            content: counter(ol-counter) '.';
        }
    }
    ol {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

dt,
dd {
    display: inline;
    margin: 0;
}
dt {
    &:after {
        content: ': ';
    }
}
dd {
    + dt {
        &:before {
            content: '\A';
            white-space: pre;
        }
    }
    + dd {
        &:before {
            content: ', ';
            margin: 0 0 0 -0.25em;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

code,
pre {
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr {
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}

/******* LIENS / BOUTONS *******/

a {
    color: $link-color;
    text-decoration: underline;
    transition: $transition-duration ease-in-out;
    &:focus,
    &:hover {
    }
    &:focus {
        outline: 0;
    }
    &:active {
        filter: saturate(200%);
    }
}

/******* DEFAULT PAGE STYLE *******/

.content-page {
    ul,
    ol {
        margin: 1.5em 0;
        padding: 0;
        li {
            display: flex;
            vertical-align: baseline;
            margin: 5px 0;
            line-height: 1.5;
            &:before {
                flex: 0 0 auto;
                width: 18px;
                margin-right: 10px;
                color: $tertiary;
                text-align: right;
            }
        }
    }
    ul {
        li {
            &:before {
                content: '•';
            }
        }
    }
    img {
        display: block;
        margin: 2 * $gutter;
        &.alignleft {
            float: left;
            margin-left: calc(-12.5% - 12px);
        }
        &.alignright {
            float: right;
            margin-right: calc(-12.5% - 12px);
        }
        &.aligncenter {
            margin-left: auto;
            margin-right: auto;
        }
        &.full-width {
            max-width: none;
            width: calc(125% + 24px);
            margin-left: calc(-12.5% - 12px);
        }
    }
}
.breadcrumbs {
    margin: 0 0 3em;
    font-family: $lato;
    font-size: 1.3rem;
    color: $dark-grey;
    .breadcrumb_last {
        font-family: $lato-italic;
    }
}

.wrapper-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/******* CLASSES GENERALES  *******/

.hidden {
    display: none !important;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix {
    @include clearfix;
}

.pos-relative {
    position: relative;
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.inline-b {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-0.1em);
}

.full-width {
    width: 100%;
}

.icon {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.img-fit {
    &.compat-object-fit {
        background-size: cover;
        background-position: 50% 50%;
        img {
            // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}

.no-transition {
    transition: none !important;
}

.wrapper-collant{
    position: relative;
}
.collant{
    position: fixed !important;
}
.collant-stuck{
    position: absolute;
}

@media (max-width: $desktop) {
    .content-page {
        img {
            &.alignleft {
                margin-left: 0;
            }
            &.alignright {
                margin-right: 0;
            }
            &.full-width {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}
@media (max-width: $desktop-small) {
    .content-page {
        img {
            &.alignleft,
            &.alignright {
                float: none;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
@media (max-width: $tablet) {
    .content-page {
        blockquote {
            padding: 0;
        }
    }
}
@media (max-width: $phone) {
    h1 {
        font-size: 3.3rem;
    }
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.4rem;
    }
    .content-page {
        blockquote {
            p {
                font-size: 3rem;
            }
        }
    }
}
