/* Home specific style */
.hero {
    padding: 240px 0 120px;
    color: $white;
    background-color: #081830;
    .is-ff & {
        background-color: #0d1728;
    }
    .is-ms & {
        background-color: #0a1827;
    }
    h1 {
        color: $white;
    }
    p {
        max-width: 410px;
        margin-left: auto;
        margin-right: auto;
        color: $ultra-light-grey;
    }
    .cta-wrapper {
        display: flex;
        justify-content: center;
        margin-top: $doublegutter;
    }
    .cta {
        position: relative;
        color: $white;
        margin-right: $quadrogutter;
        &:last-child {
            margin-right: 0;
        }
        .ellypsis {
            color: $white;
        }
    }
}
.sprite{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    background-repeat: no-repeat;
    background-size: 400% 500%;
    background-position: 0% 0%;
    height: 50vh;
    width: 50vh*0.88;
    max-height: 720px;
    max-width: 640px;
    min-height: 222px;
    min-width: 194px;
    &.second{
        background-size: 900% 1100%;
    }
}

.what-we-do {
    position: relative;
    z-index: 1;
    color: $white;
    .wwd-title {
        margin: auto;
        color: $white;
    }
    .wwd-text {
        max-width: 410px;
        margin-left: auto;
        margin-right: auto;
        color: $ultra-light-grey;
    }
    .cta-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.home-company {
    text-align: center;
}
.home-cards {
    .cards {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: calc(100% + #{$quadrogutter * 2});
        margin-left: -#{$quadrogutter};
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33%;
        padding: 0 $quadrogutter;
        box-sizing: border-box;
    }
}

.video-home{
    position: relative;
    display: flex;
    justify-content: center;
    height: 45vh;
    max-height: 500px;
    min-height: 200px;
    video{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateZ(0);
        height: 50vh;
        width: 50vh*1.778;
        max-height: 720px;
        min-height: 222px;
        min-width: 394px;
        max-width: 1280px;
    }

}

@media (max-width: $desktop-small) {
    .home-cards {
        .cards {
            flex-direction: column;
        }
        .card {
            width: 100%;
        }
    }
}

@media (max-width: $tablet) {
    .home-company,
    .home-cards {
        padding-left: calc(10% + 10px);
        padding-right: calc(10% + 10px);
    }
}

@media (max-width: $phone) {
    .hero {
        // padding: 100px 0 120px;
        .cta-wrapper {
            flex-direction: column;
            align-items: center;
            .cta {
                margin-right: 0;
                &:last-child {
                    margin-top: $doublegutter;
                }
            }
        }
    }
    .home-company,
    .home-cards {
        padding-left: 0;
        padding-right: 0;
    }
}
