.product-header {
    position: relative;
    padding: 22rem $doublegutter;
    .product-header-texts {
        margin-left: calc(
            #{grid-column-percent(1400, 20, 3, 12) + "%"} + #{$doublegutter}
        );
        h1,
        h2 {
            backface-visibility: hidden;
            -webkit-font-smoothing: subpixel-antialiased;
        }
        h1 {
            margin: 0;
            font-family: $lato;
            font-weight: 100;
            font-style: italic;
            font-size: 19.6rem;
            color: $ellypsis-color;
        }
        h2 {
            font-size: 3.2rem;
        }
    }
    .product-header-image {
        position: absolute;
        width: #{grid-column-percent(1400, 20, 4, 12) + "%"};
        top: 32rem;
        right: calc(
            #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
        );
        pointer-events: none;
        img {
            transform: translateZ(0);
        }
    }
}

.product-video {
    background-color: $primary;
    padding: 7.5rem 0;
    ul,
    ol,
    blockquote {
        color: $white;
    }
    cite {
        color: $white;
        &:before {
            background-color: $white;
        }
    }
    .container {
        padding-left: calc(
            #{grid-column-percent(1400, 20, 3, 12) + "%"} + #{$doublegutter}
        );
        padding-right: calc(
            #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
        );
    }
    .video-text,
    p {
        color: $white;
    }
    .video-text-before {
        margin-bottom: $quadrogutter;
    }
    .video-text-after {
        margin-top: $quadrogutter;
    }
    .wrapper-video-product {
        .cover-video {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s $easeOut, visibility 0.5s;
            &.on {
                opacity: 1;
                visibility: visible;
                transition: none;
            }
        }
        .play {
            position: absolute;
            width: 10%;
            height: 0;
            padding-bottom: 10%;
            top: 50%;
            left: 50%;
            background-color: rgba($primary, 0.9);
            border-radius: 50%;
            transform: translate(-50%, -50%);
            .icon {
                position: absolute;
                width: 25%;
                height: 25%;
                top: 50%;
                left: 50%;
                transform: translate(-35%, -50%);
                color: $white;
            }
        }
        iframe {
            width: 100%;
        }
    }
}

.keywords {
    padding: 7.5rem 0 10rem;
    padding-left: calc(
        #{grid-column-percent(1400, 20, 2, 12) + "%"} + #{$doublegutter}
    );
    padding-right: calc(
        #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
    );
    padding-top: 5rem;
    .keywords-list {
        display: flex;
        justify-content: center;
        margin: 0;
        padding-left: calc(
            #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
        );
        font-size: 2.4rem;
        font-weight: 300;
        font-style: italic;
        color: $tertiary;
        li {
            &:not(:first-child) {
                &:before {
                    content: "•";
                    margin-left: 0.25em;
                }
            }
        }
    }
    .keywords-content-container {
        h2 {
            margin: 6rem 0 10rem;
            padding-left: calc(
                #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
            );
            text-align: center;
        }
        .keywords-content {
            display: flex;
            position: relative;
        }
        .keywords-content-img {
            flex: 1 1 #{grid-column-percent(1400, 20, 5, 12) + "%"};
            margin-right: $doublegutter;
            img {
                margin: 0;
            }
        }
        .keywords-content-txt {
            flex: 1 1 #{grid-column-percent(1400, 20, 4, 12) + "%"};
            padding-left: $doublegutter;
            color: $product-text-grey;
            ul,
            ol {
                color: $product-text-grey;
            }
            blockquote {
                p {
                    color: $tertiary;
                }
            }
            cite {
                color: $product-text-grey;
                &:before {
                    background-color: $product-text-grey;
                }
            }
            p {
                color: $product-text-grey;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

.dark-section {
    position: relative;
    color: $secondary-text-color;
    font-size: 1.6rem;
    line-height: 1.5em;
    background-color: $secondary;
    ul,
    ol {
        color: $secondary-text-color;
    }
    blockquote {
        p {
            color: $ellypsis-color;
        }
    }
    cite {
        color: $secondary-text-color;
        &:before {
            background-color: $secondary-text-color;
        }
    }
    .container {
        display: flex;
        padding: 0;
        padding-left: calc(
            #{grid-column-percent(1400, 20, 2, 12) + "%"} + #{$doublegutter}
        );
    }
    .dark-texts {
        width: 50%;
        margin: 0;
        padding: 7.5rem $doublegutter 7.5rem #{grid-column-percent(
                1400,
                20,
                1,
                12
            ) + "%"};
    }
    .dark-image {
        width: 50%;
        img {
            width: 100%;
            height: 100%;
            max-width: none;
            object-fit: contain;
            margin: 0;
        }
    }
    h2 {
        color: $ellypsis-color;
        line-height: 1.12em;
    }
    .cta {
        color: $ellypsis-color;
    }
}

.photo-text {
    padding: 5rem 0 10rem;
    padding-left: calc(
        #{grid-column-percent(1400, 20, 2, 12) + "%"} + #{$doublegutter}
    );
    padding-right: calc(
        #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
    );
    .photo-text-content-container {
        h2 {
            margin: 6rem 0 10rem;
            padding-left: calc(
                #{grid-column-percent(1400, 20, 2, 12) + "%"} + #{$doublegutter}
            );
            padding-right: calc(
                #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
            );
            text-align: center;
        }
        .photo-text-content {
            display: flex;
            position: relative;
        }
        .photo-text-content-img {
            flex: 1 1 #{grid-column-percent(1400, 20, 5, 12) + "%"};
            margin-right: $doublegutter;
            img {
                margin: 0;
            }
        }
        .photo-text-content-txt {
            flex: 1 1 #{grid-column-percent(1400, 20, 4, 12) + "%"};
            padding-left: $doublegutter;
            color: $product-text-grey;
            ul,
            ol {
                color: $product-text-grey;
            }
            blockquote {
                p {
                    color: $tertiary;
                }
            }
            cite {
                color: $product-text-grey;
                &:before {
                    background-color: $product-text-grey;
                }
            }
            p {
                color: $product-text-grey;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

.product-cards {
    padding-left: calc(
        #{grid-column-percent(1400, 20, 2, 12) + "%"} + #{$doublegutter}
    );
    padding-right: calc(
        #{grid-column-percent(1400, 20, 2, 12) + "%"} + #{$doublegutter}
    );
    .cards {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: calc(100% + #{$quadrogutter * 2});
        margin-left: -#{$quadrogutter};
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% / 3);
        padding: 0 $quadrogutter;
        box-sizing: border-box;
        .card-content {
            h3 {
                color: $primary;
            }
        }
    }
}

@media (max-width: $desktop-ultra-big) {
    .product-header {
        .product-header-image {
            top: 36rem;
            right: $doublegutter;
        }
    }
    .keywords,
    .photo-text,
    .product-cards {
        padding-left: 230px;
    }
}

@media (max-width: $desktop-big) {
    .product-header {
        .product-header-image {
            top: 38rem;
        }
    }
    .product-video {
        .container {
            margin-left: 230px;
            padding-left: calc(
                #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
            );
        }
    }
    .dark-section {
        .container {
            padding-left: 230px;
        }
    }
    .product-cards {
        padding-right: calc(
            #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
        );
    }
}

@media (max-width: $desktop) {
    .product-header {
        .product-header-image {
            top: 40rem;
        }
    }
    .dark-section {
        .dark-texts {
            padding-right: 0;
            padding-left: 0;
            width: #{grid-column-pixels(1400, 20, 4, 12) + "px"};
        }
        .dark-image {
            display: none;
        }
    }
    .keywords {
        .keywords-list {
            padding-left: 0;
            flex-wrap: wrap;
        }
    }
    .keywords,
    .photo-text {
        .keywords-content-container,
        .photo-text-content-container {
            h2 {
                margin: 1em auto;
                padding: 0
                    calc(
                        #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
                    );
                left: 0;
                right: 0;
            }
            .keywords-content,
            .photo-text-content {
                flex-direction: column;
                .keywords-content-img,
                .photo-text-content-img {
                    left: 0;
                    right: 0;
                    margin: auto;
                    margin-bottom: $quadrogutter;
                }
                .keywords-content-txt,
                .photo-text-content-txt {
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: $desktop-small) {
    .product-header {
        .product-header-texts {
            margin-left: 210px;
            h1 {
                font-size: 15rem;
            }
            h2 {
                font-size: 3rem;
            }
        }
        .product-header-image {
            top: 42rem;
        }
    }
    .product-video {
        .container {
            padding-left: 0;
        }
    }
    .product-cards {
        .cards {
            flex-wrap: wrap;
        }
        .card {
            width: 50%;
        }
    }
    .keywords,
    .photo-text {
        .keywords-content-container,
        .photo-text-content-container {
            h2 {
                padding: 0;
            }
        }
    }
}
@media (max-width: $tablet) {
    .product-header {
        .product-header-texts {
            h1 {
                font-size: 9rem;
            }
        }
        .product-header-image {
            top: 42rem;
        }
    }
    .product-video {
        .container {
            padding-right: $doublegutter;
        }
    }
    .dark-section {
        .container {
            padding-right: $doublegutter;
        }
    }
    .keywords,
    .photo-text {
        padding-right: $doublegutter;
        .keywords-content-container,
        .photo-text-content-container {
            .keywords-content,
            .photo-text-content {
                .keywords-content-img,
                .photo-text-content-img {
                    margin-bottom: $doublegutter;
                }
            }
        }
    }
    .product-cards {
        padding-right: $doublegutter;
        .cards {
            flex-direction: column;
            width: 100%;
            margin-left: 0;
        }
        .card {
            width: 100%;
            padding: 0;
        }
    }
}

@media (max-width: $phone) {
    .product-header {
        .product-header-texts {
            margin-left: 0;
            h1 {
                font-size: 6.6rem;
            }
            h2 {
                font-size: 3rem;
            }
        }
        .product-header-image {
            width: #{grid-column-percent(1400, 20, 5, 12) + "%"};
            top: 39rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .product-video {
        .container {
            margin-left: 0;
            padding-left: $doublegutter;
        }
        .wrapper-video-product {
            margin-bottom: $quadrogutter;
        }
    }
    .dark-section {
        .container {
            padding-left: $doublegutter;
        }
        .dark-texts {
            width: 100%;
        }
    }
    .keywords,
    .photo-text {
        padding-left: $doublegutter;
        padding-right: $doublegutter;
    }
    .product-cards {
        padding-left: $doublegutter;
    }
}

@media (max-width: $phone-small) {
    .product-header {
        .product-header-image {
            width: #{grid-column-percent(1400, 20, 7, 12) + "%"};
        }
    }
}
