.product-header {
    position: relative;
    padding: 22rem $doublegutter;
    .product-header-texts {
        margin-left: calc(
            #{grid-column-percent(1400, 20, 3, 12) + '%'} + #{$doublegutter}
        );
        h1 {
            margin: 0;
            font-family: $lato;
            font-weight: 100;
            font-style: italic;
            font-size: 19.6rem;
            color: $ellypsis-color;
        }
        h2 {
            font-size: 3.2rem;
        }
    }
    .product-header-image {
        position: absolute;
        width: 100%;
        width: #{grid-column-percent(1400, 20, 4, 12) + '%'};
        top: calc(22rem + 10rem);
        right: calc(
            #{grid-column-percent(1400, 20, 1, 12) + '%'} + #{$doublegutter}
        );
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        pointer-events: none;
    }
}

.product-video {
    background-color: $primary;
    padding: 7.5rem $doublegutter;
    .wrapper-video-product,
    p {
        margin-left: calc(
            #{grid-column-percent(1400, 20, 3, 12) + '%'} + #{$doublegutter}
        );
        margin-right: calc(
            #{grid-column-percent(1400, 20, 1, 12) + '%'} + #{$doublegutter}
        );
    }
    p {
        margin-bottom: $quadrogutter;
        color: $white;
    }
    .wrapper-video-product {
        iframe {
            width: 100%;
        }
    }
}

.keywords {
    padding: 7.5rem 0 10rem;
    padding-left: calc(
        #{grid-column-percent(1400, 20, 2, 12) + '%'} + #{$doublegutter}
    );
    padding-right: calc(
        #{grid-column-percent(1400, 20, 1, 12) + '%'} + #{$doublegutter}
    );
    padding-top: 5rem;
    .keywords-list {
        display: flex;
        justify-content: center;
        margin: 0;
        padding-left: calc(
            #{grid-column-percent(1400, 20, 1, 12) + '%'} + #{$doublegutter}
        );
        font-size: 2.4rem;
        font-weight: 300;
        font-style: italic;
        color: $tertiary;
        li {
            &:not(:last-child) {
                &:after {
                    content: '•';
                    margin-right: 0.25em;
                }
            }
        }
    }
    .keywords-content-container {
        h2 {
            margin: 6rem 0 0;
            padding-left: calc(
                #{grid-column-percent(1400, 20, 1, 12) + '%'} + #{$doublegutter}
            );
            text-align: center;
        }
        .keywords-content {
            display: flex;
            position: relative;
            margin-top: 10rem;
        }
        .keywords-content-img {
            flex: 1 1 #{grid-column-percent(1400, 20, 5, 12) + '%'};
            margin-right: $doublegutter;
        }
        .keywords-content-txt {
            flex: 1 1 #{grid-column-percent(1400, 20, 4, 12) + '%'};
            padding-left: $doublegutter;
            p {
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

.dark-section {
    display: flex;
    position: relative;
    padding: 7.5rem $doublegutter;
    color: $secondary-text-color;
    font-size: 1.6rem;
    line-height: 1.5em;
    background-color: $secondary;
    .dark-texts {
        margin-left: calc(
            #{grid-column-percent(1400, 20, 3, 12) + '%'} + #{$doublegutter}
        );
        width: #{grid-column-percent(1400, 20, 3.5, 12) + '%'};
    }
    .dark-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        img {
            width: auto;
            height: 100%;
        }
    }
    h2 {
        color: $ellypsis-color;
        line-height: 1.12em;
    }
    .cta {
        color: $ellypsis-color;
    }
}

.photo-text {
    .photo-text-content-container {
    }
}

.product-cards {
    .cards {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: calc(100% + #{$quadrogutter * 2});
        margin-left: -#{$quadrogutter};
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33%;
        padding: 0 $quadrogutter;
        box-sizing: border-box;
        .card-content {
            h3 {
                color: $primary;
            }
        }
    }
}

@media (max-width: $desktop-small) {
    .product-cards {
        .cards {
            flex-direction: column;
        }
        .card {
            width: 100%;
        }
    }
}
