.product-header {
    position: relative;
    padding: 22rem $doublegutter;
    .product-header-texts {
        margin-left: calc(
            #{grid-column-percent(1400, 20, 3, 12) + "%"} + #{$doublegutter}
        );
        h1 {
            margin: 0;
            font-family: $lato;
            font-weight: 100;
            font-style: italic;
            font-size: 19.6rem;
            color: $ellypsis-color;
        }
        h2 {
            font-size: 3.2rem;
        }
    }
    .product-header-image {
        position: absolute;
        width: #{grid-column-percent(1400, 20, 4, 12) + "%"};
        top: 32rem;
        right: calc(
            #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
        );
        pointer-events: none;
    }
}

.product-video {
    background-color: $primary;
    padding: 7.5rem 0;
    .wrapper-video-product,
    p {
        margin-left: calc(
            #{grid-column-percent(1400, 20, 3, 12) + "%"} + #{$doublegutter}
        );
        margin-right: calc(
            #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
        );
    }
    p {
        margin-bottom: $quadrogutter;
        color: $white;
    }
    .wrapper-video-product {
        iframe {
            width: 100%;
        }
    }
}

.keywords {
    padding: 7.5rem 0 10rem;
    padding-left: calc(
        #{grid-column-percent(1400, 20, 2, 12) + "%"} + #{$doublegutter}
    );
    padding-right: calc(
        #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
    );
    padding-top: 5rem;
    .keywords-list {
        display: flex;
        justify-content: center;
        margin: 0;
        padding-left: calc(
            #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
        );
        font-size: 2.4rem;
        font-weight: 300;
        font-style: italic;
        color: $tertiary;
        li {
            &:not(:last-child) {
                &:after {
                    content: "•";
                    margin-right: 0.25em;
                }
            }
        }
    }
    .keywords-content-container {
        h2 {
            margin: 6rem 0 10rem;
            padding-left: calc(
                #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
            );
            text-align: center;
        }
        .keywords-content {
            display: flex;
            position: relative;
        }
        .keywords-content-img {
            flex: 1 1 #{grid-column-percent(1400, 20, 5, 12) + "%"};
            margin-right: $doublegutter;
        }
        .keywords-content-txt {
            flex: 1 1 #{grid-column-percent(1400, 20, 4, 12) + "%"};
            padding-left: $doublegutter;
            color: $product-text-grey;
            p {
                color: $product-text-grey;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

.dark-section {
    position: relative;
    padding: 0 0 0 $doublegutter;
    color: $secondary-text-color;
    font-size: 1.6rem;
    line-height: 1.5em;
    background-color: $secondary;
    .container {
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }
    .dark-texts {
        margin-right: calc(
            #{grid-column-percent(1400, 20, 0.5, 12) + "%"} + #{$doublegutter}
        );
        padding: 7.5rem $doublegutter;
        width: #{grid-column-percent(1400, 20, 3.5, 12) + "%"};
    }
    .dark-image {
        margin-right: -#{grid-column-percent(1400, 20, 1, 12) + "%"};
        width: calc(
            #{grid-column-percent(1400, 20, 5, 12) + "%"} - #{$doublegutter}
        );
        img {
            width: auto;
            height: 100%;
            max-width: none;
            object-fit: cover;
        }
    }
    h2 {
        color: $ellypsis-color;
        line-height: 1.12em;
    }
    .cta {
        color: $ellypsis-color;
    }
}

.photo-text {
    padding: 5rem 0 10rem;
    padding-left: calc(
        #{grid-column-percent(1400, 20, 2, 12) + "%"} + #{$doublegutter}
    );
    padding-right: calc(
        #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
    );
    .photo-text-content-container {
        h2 {
            margin: 6rem 0 10rem;
            padding-left: calc(
                #{grid-column-percent(1400, 20, 2, 12) + "%"} + #{$doublegutter}
            );
            padding-right: calc(
                #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
            );
            text-align: center;
        }
        .photo-text-content {
            display: flex;
            position: relative;
        }
        .photo-text-content-img {
            flex: 1 1 #{grid-column-percent(1400, 20, 5, 12) + "%"};
            margin-right: $doublegutter;
        }
        .photo-text-content-txt {
            flex: 1 1 #{grid-column-percent(1400, 20, 4, 12) + "%"};
            padding-left: $doublegutter;
            color: $product-text-grey;
            p {
                color: $product-text-grey;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

.product-cards {
    padding-left: calc(
        #{grid-column-percent(1400, 20, 2, 12) + "%"} + #{$doublegutter}
    );
    padding-right: calc(
        #{grid-column-percent(1400, 20, 2, 12) + "%"} + #{$doublegutter}
    );
    .cards {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: calc(100% + #{$quadrogutter * 2});
        margin-left: -#{$quadrogutter};
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% / 3);
        padding: 0 $quadrogutter;
        box-sizing: border-box;
        .card-content {
            h3 {
                color: $primary;
            }
        }
    }
}

@media (max-width: $desktop-ultra-big) {
    .product-header {
        .product-header-image {
            top: 36rem;
            right: $doublegutter;
        }
    }
    .dark-section {
        .dark-image {
            margin-right: 0;
        }
    }
    .keywords,
    .photo-text,
    .product-cards {
        padding-left: 230px;
    }
}

@media (max-width: $desktop-big) {
    .product-header {
        .product-header-image {
            top: 38rem;
        }
    }
    .product-video {
        .wrapper-video-product,
        p {
            margin-left: 210px;
        }
    }
    .dark-section {
        .container {
            padding-left: 210px;
        }
        .dark-texts {
            margin-right: $doublegutter;
            width: 50%;
        }
        .dark-image {
            margin-right: 0;
            width: 50%;
        }
    }
    .product-cards {
        padding-right: calc(
            #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
        );
    }
}

@media (max-width: $desktop) {
    .product-header {
        .product-header-image {
            top: 40rem;
        }
    }
    .dark-section {
        .container {
            justify-content: flex-end;
            margin-right: calc(
                #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
            );
        }
        .dark-texts {
            margin-right: 0;
            width: #{grid-column-pixels(1400, 20, 4, 12) + "px"};
        }
        .dark-image {
            display: none;
        }
    }
    .keywords {
        .keywords-list {
            padding-left: 0;
            flex-wrap: wrap;
        }
    }
    .keywords,
    .photo-text {
        .keywords-content-container,
        .photo-text-content-container {
            h2 {
                margin: 1em auto;
                padding: 0
                    calc(
                        #{grid-column-percent(1400, 20, 1, 12) + "%"} + #{$doublegutter}
                    );
                left: 0;
                right: 0;
            }
            .keywords-content,
            .photo-text-content {
                flex-direction: column;
                .keywords-content-img,
                .photo-text-content-img {
                    left: 0;
                    right: 0;
                    margin: auto;
                    margin-bottom: $quadrogutter;
                }
            }
        }
    }
}

@media (max-width: $desktop-small) {
    .product-header {
        .product-header-texts {
            margin-left: 210px;
            h1 {
                font-size: 15rem;
            }
            h2 {
                font-size: 3rem;
            }
        }
        .product-header-image {
            top: 42rem;
        }
    }
    .product-cards {
        .cards {
            flex-wrap: wrap;
        }
        .card {
            width: 50%;
        }
    }
}
@media (max-width: $tablet) {
    .product-header {
        .product-header-texts {
            h1 {
                font-size: 9rem;
            }
        }
        .product-header-image {
            top: 42rem;
        }
    }
    .product-video {
        .wrapper-video-product,
        p {
            margin-right: 0;
        }
    }
    .dark-section {
        .container {
            margin-right: $doublegutter;
        }
        .dark-texts {
            margin-right: 0;
            width: #{grid-column-pixels(1400, 20, 4, 12) + "px"};
        }
    }
    .keywords,
    .photo-text {
        padding-right: $doublegutter;
        .keywords-content-container,
        .photo-text-content-container {
            .keywords-content,
            .photo-text-content {
                .keywords-content-img,
                .photo-text-content-img {
                    margin-bottom: $doublegutter;
                }
            }
        }
    }
    .product-cards {
        padding-right: $doublegutter;
        .cards {
            flex-direction: column;
        }
        .card {
            width: 100%;
        }
    }
}

@media (max-width: $phone) {
    .product-header {
        .product-header-texts {
            margin-left: 0;
            h1 {
                font-size: 6.6rem;
            }
            h2 {
                font-size: 3rem;
            }
        }
        .product-header-image {
            width: #{grid-column-percent(1400, 20, 5, 12) + "%"};
            top: 39rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .product-video {
        .container {
            display: flex;
            flex-direction: column-reverse;
        }
        .wrapper-video-product,
        p {
            margin-left: 0;
        }
        .wrapper-video-product {
            margin-bottom: $quadrogutter;
        }
        p {
            margin-bottom: 0;
        }
    }
    .dark-section {
        .container {
            padding-left: 0;
        }
        .dark-texts {
            width: 100%;
        }
    }
    .keywords,
    .photo-text {
        padding-left: $doublegutter;
        padding-right: $doublegutter;
    }
    .product-cards {
        padding-left: $doublegutter;
    }
}

@media (max-width: $phone-small) {
    .product-header {
        .product-header-image {
            width: #{grid-column-percent(1400, 20, 7, 12) + "%"};
        }
    }
}
