[data-io="revealUp"] {
    .reveal-item {
        opacity: 0;
        transform: translateY(100%);
    }
    &[data-io-observed] {
        .reveal-item {
            opacity: 1;
            transform: translateY(0);
            transition: $transition-duration $easeOut;
            @include stagger-transitions("", 300, 150, 1, 10);
        }
        .reveal-up,
        .reveal-down {
            opacity: 0;
            transition: $transition-duration $easeIn;
            @include stagger-transitions("", 0, 150, 1, 10);
        }
        .reveal-up {
            transform: translateY(-100%);
        }

        .reveal-down {
            transform: translateY(100%);
        }
    }
}
