// Variables //

// Colors
$white: #fff;
$black: #000;

$ellypsis-color: #5cccff;

$primary: #1d3d90;
$secondary: #0b1829;
$tertiary: #008ece;
$grey: #707070;
$light-grey: #949494;
$ultra-light-grey: #cbced3;
$dark-grey: #545d69;

$text-color: #3c4654;

// Links
$link-color: #043182;

// Forms
$input-color: #cfcfcf;
$input-placeholder-color: #cfcfcf;

// Transitions
$transition-duration: 0.3s;
$transition-delay: 0.3s;
$easeIn: cubic-bezier(0.75, -0.03, 0.85, 0);
$easeOut: cubic-bezier(0.15, 1.02, 0.25, 1.03);

// Fonts
$lato: 'lato', sans-serif;
$lato-italic: 'lato-italic', $lato;
$lato-bold: 'lato-bold', $lato;
$lato-bold-italic: 'lato-bold-italic', $lato-italic;
$lato-light: 'lato-light', $lato;
$lato-light-italic: 'lato-light-italic', $lato-italic;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop-big: '1280px';
$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';

// Grid
$col: 100/12 * 1%;

$gutter: 10px;
$doublegutter: $gutter * 2;
$quadrogutter: $doublegutter * 2;

$vertical-big: 12rem;
$vertical-medium: 8rem;
$vertical-small: 5rem;
