// Variables //


// Colors
$white: #fff;
$black: #000;

$primary: #1d3d90;
$secondary: #0b1829;
$tertiary: #008ECE;
$grey: #707070;


// Transitions
$transition: 0.3s ease-in-out;
$transition-delay: 0.3s;


// Fonts
$lato: 'lato', sans-serif;
$lato-italic: 'lato-italic', $lato;
$lato-bold: 'lato-bold', $lato;
$lato-bold-italic: 'lato-bold-italic', $lato-italic;
$lato-light: 'lato-light', $lato;
$lato-light-italic: 'lato-light-italic', $lato-italic;


// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';


// Grid
$col: 100/12*1%;

$gutter: 10px;
