/* Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 0;
    z-index: 2;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $white;
        opacity: 0;
        transition: $transition $transition-delay;
        z-index: -1;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #B4BECC;
        z-index: -1;
        opacity: 0;
        transition: $transition $transition-delay;
    }
    &.on, &.solid-header{
        &:before, &:after{
            opacity: 1;
        }
    }
    &.solid-header{
        &:before, :after{
            transition: none;
        }
    }
    &.on{
        &:before, :after{
            transition: $transition;
        }
        &:after{
            opacity: 0;
            transition: none;
        }
    }
    > .container{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}
.wrapper-logo, .wrapper-lang{
    width: 100px;
    z-index: 1;
}
.wrapper-nav-lang{
    flex: 1 1 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.logo{
    .logo-path{
        transition: $transition $transition-delay;
        &.left{
            fill: $white;
        }
        &.right{
            fill: $white;
        }
    }
}
.nav-header{
    flex: 1 1 0%;
    margin: 0 20px;
}
.menu-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    li{
        &.current-menu-item{
            > a, > span{
                color: rgba($white, 0.5);
            }
        }
    }
    > li{
        display: flex;
        align-items: baseline;
        position: relative;
        padding: 0 15px;
        z-index: 1;
        &:hover{
            z-index: 2;
            .sub-menu-wrap{
                visibility: visible;
            }
            .sub-menu-wrap{
                &:before{
                    opacity: 1;
                    transform: scaleY(1);
                    transition: $transition;
                }
            }
            .sub-menu{
                opacity: 1;
                visibility: visible;
                transition: $transition $transition-delay;
            }
        }
        > a, > span{
            display: inline-flex;
            align-items: baseline;
        }
        .icon-arrow-down{
            display: block;
            width: 7px;
            height: 11px;
            margin: 0 0 0 6px;
            fill: $white;
            transition: $transition $transition-delay;
        }
    }
    a, span{
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $white;
        transition: $transition $transition-delay;
    }
    .sub-menu-wrap{
        position: absolute;
        top: 100%;
        left: 15px;
        visibility: hidden;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: calc(-50vw - 100%);
            right: calc(-50vw - 100%);
            top: 43px;
            bottom: 0;
            background: $white;
            z-index: -1;
            transform-origin: 0 0;
            opacity: 0;
            transform: scaleY(0);
            transition: $transition;
            box-shadow: 0px 1px 0px 0px #B4BECC;
        }
    }
    .sub-menu{
        opacity: 0;
        margin: 0;
        padding: 20px 0 20px 20px;
        visibility: hidden;
        white-space: nowrap;
        transition: $transition;
        z-index: 1;
        > li{
            padding: 0 0 10px;
            &:last-child{
                padding-bottom: 0;
            }
            > a{
                font-family: $lato;
                font-size: 1.1rem;
                color: $dark-grey;
            }
        }
    }
}
.wrapper-lang{
    ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;
        > li{
            margin: 0;
            padding: 0;
            &:after{
                content: '-';
                margin: 0 5px;
                color: $white;
                transition: $transition;
            }
            &:last-child{
                &:after{
                    content: none;
                }
            }
        }
    }
    a{
        color: $white;
        transition: $transition;
        &:hover, &.current-language-item{
            color: $light-grey;
            transition: $transition;
        }
    }
}
.header-page{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin: 0 0 128px;
    padding: 120px 0 50px;
    text-align: center;
    .header-bkg{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($secondary, 0.5);
        }
    }
    .header-page-container{
        position: relative;
    }
    h1{
        color: $white;
    }
}
.no-thumbnail:not(.home){
    .header-page{
        height: auto;
        margin-bottom: 0;
        h1{
            color: $primary;
        }
    }
}
.no-thumbnail:not(.home), .header.on, .header.solid-header{
    .menu-main{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        li{
            &.current-menu-item{
                > a, > span{
                    color: $light-grey;
                }
            }
        }
        > li{
            .icon-arrow-down{
                fill: $grey;
                transition: $transition;
            }
        }
        a, span{
            color: $grey;
            transition: $transition;
        }
    }
    .logo{
        .logo-path{
            transition: $transition;
            &.left{
                fill: $tertiary;
            }
            &.right{
                fill: $primary;
            }
        }
    }
    .wrapper-lang{
        ul{
            > li{
                &:after{
                    color: $light-grey;
                }
            }
        }
        a{
            color: $grey;
        }
    }
    .wrapper-burger{
        .burger{
            > span{
                background: $grey;
                transition: $transition;
            }
        }
    }
}

.wrapper-burger{
    display: none;
    margin-right: -10px;
    padding: 10px;
    .burger{
        display: block;
        position: relative;
        width: 20px;
        height: 18px;
        > span{
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: $white;
            transition: $transition $transition-delay;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 50%;
                margin-top: -1px;
            }
            &:nth-child(3){
                bottom: 0;
            }
        }
    }
}

@media (max-width: $desktop){
    .wrapper-logo, .wrapper-lang{
        width: auto;
    }
    .menu-main{
        justify-content: flex-end;
        > li{
            padding: 0 10px;
        }
    }
}
@media (max-width: $desktop-small){
    .header{
        > .container{
            align-items: center;
        }
        &.menu-open{
            .wrapper-nav-lang{
                transform: translate3d(-100%, 0, 0);
            }
            .wrapper-burger{
                .burger{
                    > span{
                        background: $white;
                    }
                }
            }
            .logo{
                .logo-path{
                    &.left, &.right{
                        fill: $white;
                    }
                }
            }
            .wrapper-lang{
                a{
                    color: $white;
                    &.current-language-item{
                        color: $light-grey;
                    }
                }
            }
        }
    }
    .wrapper-burger{
        display: block;
    }
    .wrapper-nav-lang{
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -50vw;
        width: 50vw;
        height: 100vh;
        padding: 100px 20px 20px;
        background: $primary;
        overflow: auto;
        transform: translate3d(0, 0, 0);
        transition: $transition;
    }
    .wrapper-lang{
        margin: 20px auto 0;
    }
    .nav-header{
        width: 100%;
        margin: 0;
    }
    .menu-main{
        flex-direction: column;
        > li{
            display: block;
            width: 100%;
            padding: 0;
            > a, > span{
                display: block;
                position: relative;
                padding: 25px 35px;
                border-bottom: 1px solid $white;
            }
            .icon-arrow-down{
                position: absolute;
                top: 50%;
                right: 15px;
                margin-top: -6px;
                transform: rotate(-90deg);
            }
            &.on{
                .icon-arrow-down{
                    transform: rotate(0deg);
                }
            }
        }
        a, span{
            display: block;
            width: 100%;
            text-align: center;
        }
        .sub-menu-wrap{
            max-height: 0;
            position: relative;
            top: auto;
            left: auto;
            visibility: visible;
            overflow: hidden;
            &:before{
                content: none;
            }
        }
        .sub-menu{
            padding: 30px 0 40px;
            opacity: 1;
            visibility: visible;
            border-bottom: 1px solid $white;
            > li{
                padding: 0 0 10px;
                a{
                    color: $white;
                }
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }
    }
    .no-thumbnail:not(.home), .header.on, .header.solid-header{
        .menu-main{
            > li{
                .icon-arrow-down{
                    fill: $white;
                }
            }
            a, span{
                color: $white;
            }
        }
    }
}
@media (max-width: $tablet){
    .header-page{
        margin-bottom: 50px;
    }
}
@media (max-width: $phone){
    .wrapper-nav-lang{
        width: 100vw;
        right: -100vw;
    }
}
