/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 0;
    z-index: 1000;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $white;
        opacity: 0;
        transition: $transition-duration ease-in-out $transition-delay;
        z-index: -1;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #b4becc;
        z-index: -1;
        opacity: 0;
        transition: $transition-duration ease-in-out $transition-delay;
    }
    &.on,
    &.solid-header {
        &:before,
        &:after {
            opacity: 1;
        }
    }
    &.solid-header {
        &:before,
        :after {
            transition: none;
        }
    }
    &.on {
        &:before,
        :after {
            transition: $transition-duration ease-in-out;
        }
        &:after {
            opacity: 0;
            transition: none;
        }
    }
    > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.wrapper-logo,
.wrapper-lang {
    width: 100px;
    z-index: 1;
}
.wrapper-nav-lang {
    height: 19px;
    flex: 1 1 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.logo {
    .logo-path {
        transition: $transition-duration ease-in-out $transition-delay;
        &.left {
            fill: $white;
        }
        &.right {
            fill: $white;
        }
    }
}
.nav-header {
    flex: 1 1 0%;
    margin: 0 20px;
}
.menu-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    li {
        &.current-menu-item {
            > a,
            > span {
                color: rgba($white, 0.5);
            }
        }
    }
    > li {
        display: flex;
        align-items: baseline;
        position: relative;
        padding: 0 15px;
        z-index: 1;
        line-height: 1em;
        &:hover {
            z-index: 2;
            .sub-menu-wrap {
                visibility: visible;
            }
            .sub-menu-wrap {
                &:before {
                    opacity: 1;
                    transform: scale(1, 1);
                    transform: scale(1, 1);
                    transition: $transition-duration ease-in-out;
                }
            }
            .sub-menu {
                opacity: 1;
                visibility: visible;
                transition: $transition-duration ease-in-out $transition-delay;
            }
        }
        a {
            text-decoration: none;
        }
        span {
            cursor: default;
        }
        > a,
        > span {
            display: inline-flex;
            align-items: baseline;
        }
        .icon-arrow-down {
            display: block;
            width: 7px;
            height: 11px;
            margin: 0 0 0 6px;
            fill: $white;
            transition: $transition-duration ease-in-out $transition-delay;
        }
    }
    a,
    span {
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $white;
        transition: $transition-duration ease-in-out $transition-delay;
    }
    .sub-menu-wrap {
        position: absolute;
        top: 100%;
        left: 15px;
        visibility: hidden;
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: calc(-50vw - 100%);
            right: calc(-50vw - 100%);
            top: 39px;
            bottom: 0;
            background: $white;
            z-index: -1;
            transform-origin: 0 0;
            opacity: 0;
            transform: scale(1, 0);
            transition: $transition-duration ease-in-out;
            box-shadow: 0px 1px 0px 0px #b4becc;
        }
    }
    .sub-menu {
        opacity: 0;
        margin: 0;
        padding: 20px 0 40px 20px;
        visibility: hidden;
        white-space: nowrap;
        transition: $transition-duration ease-in-out;
        z-index: 1;
        > li {
            padding: 0 0 10px;
            line-height: 1;
            &:last-child {
                padding-bottom: 0;
            }
            > a {
                color: $dark-grey;
                font-family: $lato;
                font-size: 1.1rem;
                text-decoration: none;
            }
        }
    }
}
.wrapper-lang {
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;
        > li {
            margin: 0;
            padding: 0;
            &:after {
                content: '-';
                margin: 0 5px;
                color: $white;
                transition: $transition-duration ease-in-out;
            }
            &:last-child {
                &:after {
                    content: none;
                }
            }
        }
    }
    a {
        color: $white;
        text-decoration: none;
        transition: $transition-duration ease-in-out;
        &:hover,
        &.current-language-item {
            color: $light-grey;
            transition: $transition-duration ease-in-out;
        }
    }
}
.header-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin: 0 0 128px;
    padding: 120px 0 50px;
    text-align: center;
    .header-bkg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($secondary, 0.5);
        }
    }
    .header-page-container {
        position: relative;
    }
    h1 {
        color: $white;
    }
}
.no-thumbnail:not(.home) {
    .header-page {
        height: auto;
        margin-bottom: 0;
        h1 {
            color: $primary;
        }
    }
}
.no-thumbnail:not(.home),
.header.on,
.header.solid-header {
    .menu-main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        li {
            &.current-menu-item {
                > a,
                > span {
                    color: $light-grey;
                }
            }
        }
        > li {
            .icon-arrow-down {
                fill: $grey;
                transition: $transition-duration ease-in-out;
            }
        }
        a,
        span {
            color: $grey;
            transition: $transition-duration ease-in-out;
        }
        a {
            &:hover {
                color: rgba($grey, 0.5);
            }
        }
    }
    .logo {
        .logo-path {
            transition: $transition-duration ease-in-out;
            &.left {
                fill: $tertiary;
            }
            &.right {
                fill: $primary;
            }
        }
    }
    .wrapper-lang {
        ul {
            > li {
                &:after {
                    color: $light-grey;
                }
            }
        }
        a {
            color: $grey;
            &:hover {
                color: rgba($grey, 0.5);
            }
            &.current-language-item {
                color: $light-grey;
            }
        }
    }
    .wrapper-burger {
        .burger {
            > span {
                background: $grey;
                transition: $transition-duration ease-in-out;
            }
        }
    }
}

.wrapper-burger {
    display: none;
    margin-right: -10px;
    padding: 10px;
    z-index: 2;
    .burger {
        display: block;
        position: relative;
        width: 23px;
        height: 18px;
        > span {
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: $white;
            transition: $transition-duration $easeOut $transition-delay;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 50%;
                margin-top: -1px;
            }
            &:nth-child(3) {
                bottom: 0;
            }
        }
    }
}

@media (max-width: $desktop) {
    .wrapper-logo,
    .wrapper-lang {
        width: auto;
    }
    .menu-main {
        justify-content: flex-end;
        .header.solid-header & {
            justify-content: flex-end;
        }
        > li {
            padding: 0 10px;
        }
    }
    .no-thumbnail:not(.home),
    .header.on,
    .header.solid-header {
        .menu-main {
            justify-content: flex-end;
        }
    }
}
@media (max-width: $desktop-small) {
    .header {
        > .container {
            align-items: center;
        }
        &.menu-open {
            .wrapper-nav-lang {
                transform: translate3d(-100%, 0, 0);
            }
            .wrapper-burger {
                .burger {
                    > span {
                        background: $white;
                        &:nth-child(1) {
                            transform-origin: 0 50%;
                            transform: rotate(45deg);
                            margin-left: 3px;
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform-origin: 0 50%;
                            transform: rotate(-45deg);
                            margin-left: 3px;
                        }
                    }
                }
            }
            .wrapper-lang {
                a {
                    color: $white;
                    &.current-language-item {
                        color: $light-grey;
                    }
                }
            }
        }
    }
    .wrapper-burger {
        display: block;
    }
    .wrapper-nav-lang {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -50vw;
        width: 50vw;
        height: 100vh;
        padding: 100px 20px 20px;
        background: $primary;
        overflow: auto;
        transform: translate3d(0, 0, 0);
        transition: $transition-duration $easeIn;
        .menu-open & {
            transition: $transition-duration $easeOut;
        }
    }
    .wrapper-lang {
        margin: 20px auto 0;
    }
    .nav-header {
        width: 100%;
        margin: 0;
    }
    .menu-main {
        flex-direction: column;
        > li {
            display: block;
            width: 100%;
            padding: 0;
            > a,
            > span {
                display: block;
                position: relative;
                padding: 25px 35px;
                border-bottom: 1px solid $white;
            }
            > span {
                cursor: pointer;
            }
            .icon-arrow-down {
                position: absolute;
                top: 50%;
                right: 15px;
                margin-top: -6px;
                transform: rotate(-90deg);
            }
            &.on {
                .icon-arrow-down {
                    transform: rotate(0deg);
                }
            }
        }
        a,
        span {
            display: block;
            width: 100%;
            text-align: center;
        }
        .sub-menu-wrap {
            max-height: 0;
            position: relative;
            top: auto;
            left: auto;
            visibility: visible;
            overflow: hidden;
            &:before {
                content: none;
            }
        }
        .sub-menu {
            padding: 30px 0 40px;
            opacity: 1;
            visibility: visible;
            border-bottom: 1px solid $white;
            > li {
                padding: 0 0 10px;
                a {
                    color: $white;
                }
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
    .no-thumbnail:not(.home),
    .header.on,
    .header.solid-header {
        .menu-main {
            > li {
                .icon-arrow-down {
                    fill: $white;
                }
            }
            a,
            span {
                color: $white;
            }
            a {
                &:hover {
                    color: rgba($white, 0.5);
                }
            }
        }
    }
}
@media (max-width: $tablet) {
    .header-page {
        margin-bottom: 50px;
    }
}
@media (max-width: $phone) {
    .header {
        &.menu-open {
            .logo {
                .logo-path {
                    &.left,
                    &.right {
                        fill: $white;
                    }
                }
            }
        }
    }
    .wrapper-nav-lang {
        width: 100vw;
        right: -100vw;
    }
}
