.has-sidebar {
    .container-small {
        padding-left: calc(
            #{grid-column-percent((1280 - 40), 20, 3, 12) + '%'} + #{20 / (
                    1280 - 40
                ) * 100}#{'%'}
        );
        padding-right: calc(10% + 10px);
    }
}
.custom-anchors-sidebar {
    position: relative;
    .anchors-sidebar {
        position: absolute;
        width: 100%;
        top: 0;
        left: $doublegutter;
        opacity: 1;
        visibility: visible;
        transition: opacity $transition-duration ease-in-out, visibility 0s 0s;
        z-index: 1;
        &.stick-top {
            .anchors-list {
                position: fixed;
                top: 150px;
            }
        }
        &.bigger-than-screen {
            .anchors-list {
                position: relative;
            }
        }

        &.under-footer {
            opacity: 0;
            visibility: hidden;
            transition: opacity $transition-duration ease-in-out,
                visibility 0s $transition-duration;
        }
    }

    .anchors-list {
        position: relative;
        width: #{grid-column-pixels((1280 - 40), 20, 2, 12)}px;
        margin: 0;
        li {
            margin: 1.6rem 0;
            font-size: 1.1rem;
            text-transform: uppercase;
            line-height: 1.6rem;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &.active {
                a {
                    color: #008ece;
                }
            }
            a {
                color: #949eaa;
                text-decoration: none;
                &:hover {
                    color: #008ece;
                }
            }
        }
    }
    .content-page {
        img.full-width {
            width: calc(
                #{grid-column-pixels((1280 - 40), 20, 10, 12)}px - #{$doublegutter}
            );
            margin-left: calc(
                -#{grid-column-pixels((1280 - 40), 20, 1, 12)}px - #{$doublegutter}
            );
        }
        img.alignleft {
            width: #{grid-column-pixels((1280 - 40), 20, 3, 12)}px;
            margin-left: calc(
                -#{grid-column-pixels((1280 - 40), 20, 1, 12)}px - #{$doublegutter}
            );
        }
    }
}

@media (max-width: $desktop-big) {
    .has-sidebar {
        .container-small {
            padding-left: calc(
                #{grid-column-percent((1280 - 40), 20, 3, 12) + '%'} + #{20 / (
                        1280 - 40
                    ) * 100}#{'%'}
            );
        }
    }
    .custom-anchors-sidebar {
        .content-page {
            img.full-width {
                width: 100%;
                margin-left: 0;
            }
            img.alignleft,
            img.aligncenter,
            img.alignright {
                width: #{grid-column-pixels((1280 - 40), 20, 3, 12)}px;
            }
            img.alignleft {
                margin-left: 0;
            }
            img.alignright {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: $desktop-small) {
    .has-sidebar {
        .container-small {
            padding-left: calc(
                #{grid-column-percent((1280 - 40), 20, 4, 12) + '%'} + #{20 / (
                        1280 - 40
                    ) * 100}#{'%'}
            );
        }
    }
    .custom-anchors-sidebar {
        .content-page {
            .gallery {
                grid-template-columns: 1fr $doublegutter 1fr $doublegutter 1fr;
                -ms-grid-columns: 1fr $doublegutter 1fr $doublegutter 1fr;
                .gallery-item {
                    @include css-grid-loop(3, 24);
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    .has-sidebar {
        .container-small {
            // padding-left: calc(
            //     #{grid-column-percent((1280 - 40), 20, 4, 12) + '%'} + #{20 / (
            //             1280 - 40
            //         ) * 100}#{'%'}
            // );
            padding-right: 0;
        }
    }
    .custom-anchors-sidebar {
        .content-page {
            .gallery {
                grid-template-columns: 1fr $doublegutter 1fr;
                -ms-grid-columns: 1fr $doublegutter 1fr;
                .gallery-item {
                    @include css-grid-loop(2, 24);
                }
            }
        }
    }
}

@media (max-width: $phone) {
    .has-sidebar {
        .container-small {
            padding: 0;
        }
    }
    .custom-anchors-sidebar {
        .anchors-sidebar {
            display: none;
        }
    }
}
